.header {
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.header__title {
  font-weight: 500;
  margin: 80px 0 28px;
  margin-bottom: 28px;
  padding-left: 80px;
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Time New Roman", sans-serif;
  font-style: italic;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  padding-left: 80px;
  font-family: "Noto Serif", "Time New Roman", sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
  z-index: -1;
}

.header__paragraph {
  margin: 0;
  color: #6f6f6f;
}

.header__hours {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 500;
  line-height: 20px;
  padding-left: 80px;
  position: absolute;
  bottom: 40px;
}

.header__address {
  position: absolute;
  font-weight: 500;
  right: 80px;
  bottom: 40px;
  margin-bottom: 0;
  line-height: 20px;
}
