.header {
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
}

.header__title {
  font-weight: 500;
  margin-bottom: 28px;
  padding-left: 80px;
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
}

.header-first-line {
  display: block;
  font-family: Noto Serif, Time New Roman, sans-serif;
  font-style: italic;
  color: #2f80ed;
  margin-top: 80px;
}

.header__description {
  max-width: 683px;
  padding-left: 80px;
  flex-wrap: wrap;
  font-family: Noto Serif, Time New Roman, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
  z-index: 0;
}

.header__hours {
  font-weight: 500;
  line-height: 5px;
  padding-left: 80px;
  position: absolute;
  bottom: 40px;
}

.header__address {
  position: absolute;
  right: 80px;
  bottom: 40px;
}
