@import url("../vendor/normalize.css");

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.header__title {
  font-weight: 500;
  margin-bottom: 28px;
  padding-left: 80px;
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
}

.header-first-line {
  display: block;
  font-family: Noto Serif, Time New Roman, sans-serif;
  font-style: italic;
  color: #2f80ed;
  margin-top: 80px;
}

.header__description {
  max-width: 683px;
  padding-left: 80px;
  flex-wrap: wrap;
  font-family: Noto Serif, Time New Roman, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
  z-index: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 30px;
}

.nav__links {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  margin-right: 80px;
  margin-top: 0;
}

.nav__link {
  font-weight: 500;
  list-style-type: none;
}

.nav__link:hover {
  color: #2f80ed;
}

.logo {
  height: 142px;
  width: 125px;
  margin
}

.header__about-info {
  
  
}

.hours {
  font-weight: 500;
  line-height: 5px;
  padding-left: 80px;
  position: absolute;
  bottom: 40px;
  }

.address {
  position: absolute;
  right: 80px;
  bottom: 40px;

}

.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  
  
}

.menu__title {
  padding-top: 100px;
  text-align: center;
  margin: 0 auto 24px;
  max-width: 780px;
font-weight: 500;
font-size: 44px;
line-height: 52px;
}

.menu__subtitle {
  text-align: center;
  max-width: 780px;
  margin: 0 auto 100px;
  font-family: Noto Serif, Time New Roman, sans-serif;;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto 0;
  gap: 100px;
  padding-bottom: 100px;
}

.card {
  width: 600px;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}

.card__list-item {
  font-family: "Noto Serif, Time New Roman, sans-serif;";
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid #fff;
}
  

.recipes {
  background-color: #fff;
  background-image: url("../images/background_recipes.svg");
  
}
  
.recipes__title {
  max-width: 580px;
  padding-top: 100px;
  margin: 0 auto 24px 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
  
.recipes__subtitle {
  max-width: 438px;
  margin: 0 auto 80px 80px;
  font-family: Noto Serif, Time New Roman, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 480px;
    height: 273px;
  
}

.recipes__videos {
  display: flex;
  column-gap: 40px;
  justify-content: center;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 24px auto 0;
  padding-bottom: 215px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-color: #D9E7FF;
  background-image: url("../images/background_reservation.svg");
}